* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: black;
  line-height: 2em;
}

p a {
  display: inline;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  color: inherit;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.centered {
  width: 80%;
  margin: auto;
}

@-webkit-keyframes go-down {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes go-down {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes go-top {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes go-top {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes slider-animation {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slider-animation {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #212529;
}
.main .model-1 {
  width: 100%;
  position: relative;
}
.main .nav-left {
  background-color: green;
  width: 27%;
  position: relative;
  -webkit-animation: go-down 1s ease 1 both 2.5s;
          animation: go-down 1s ease 1 both 2.5s;
  z-index: 3;
}
.main .nav-left ul {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.main .nav-left li {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
}
.main .nav-right {
  width: 27%;
  position: relative;
  -webkit-animation: go-top 2s ease 1 both 2.5s;
          animation: go-top 2s ease 1 both 2.5s;
  z-index: 3;
}
.main .nav-right ul {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.main .nav-right li {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
}
.main .slider-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.main .single-slide {
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0;
  -webkit-animation: slider-animation;
          animation: slider-animation;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  background-size: cover;
}
.main #slide-1 {
  background-image: url(https://images7.alphacoders.com/391/391001.jpg);
  background-size: cover;
}
.main #slide-2 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-image: url(https://images5.alphacoders.com/426/426029.jpg);
}
.main #slide-3 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  background-image: url(https://images7.alphacoders.com/391/391001.jpg);
}
.main-model1 {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.main-model1 .span-model1 {
  text-transform: uppercase;
  color: #ffffff;
  padding: 1.5em 0em;
  position: absolute;
  top: 0;
}
.main-model1 .text-model1 {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.main-model1 .logo-model1 {
  width: 40%;
}
.main-model1 .btns {
  width: 100%;
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.main-model1 .btn-new {
  padding: 2em 0em;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1em 3em;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 600;
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
}
.main-model1 .btn-scroll {
  font-weight: 600;
  color: #ffffff;
  padding: 0.6em 1.5em;
  font-size: 1em;
  padding: 12px;
}
.main .model-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.main .model-2 .slider {
  width: 100%;
  overflow: hidden;
}
.main .model-2 .big-slider {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main .model-2 .slider-img {
  width: calc(100% / 3);
}
.main .model-2 .slider-points {
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.main .model-2 .slider-point {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 0 0.4em;
  cursor: pointer;
}
.main .model-2 .slider-point.active {
  background-color: red;
}
.main .model-3 {
  width: 100%;
  min-height: 100px;
  background-color: #212529;
}
.main .model-3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: auto;
      align-content: auto;
}
.main .model-3 ul li {
  margin: 1em 0em 0em;
  padding: 1em;
}