@import "reset";

//Colors and families
@import "variables";

//Animations
@import "keyframes";

//Mixins
@import "mixins";

body {
  font-family: $font-default;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: $black;

  .model-1 {
    width: 100%;
    position: relative;

    .aside-left {
      width: 12%;
      position: absolute;
      left: 0;
      animation: go-top 1.5s ease 1 both 1s;
      z-index: 3;
      cursor: default;

      ul {
        min-height: 100vh;
        @include flexible(column, wrap, space-around, center, auto);
      }

      li {
        transform: rotate(-90deg);
        color: $white;
        text-transform: uppercase;
        font-size: 0.6em;
      }
    }

    .aside-right {
      width: 12%;
      position: absolute;
      right: 0;
      animation: go-down 1.5s ease 1 both 1.5s;
      z-index: 3;
      cursor: default;

      ul {
        min-height: 100vh;
        @include flexible(column, wrap, space-around, center, auto);
      }

      li {
        transform: rotate(90deg);
        color: $white;
        text-transform: uppercase;
        font-size: 0.6em;
      }
    }

    .slider-container {
      width: 100%;
      min-height: 100vh;
      position: relative;
    }

    .single-slide {
      width: 100%;
      height: 100vh;
      position: absolute;
      opacity: 0;
      animation: slider-animation 15s infinite ease-in-out;
      background-size: cover;
    }

    #slide-1 {
      animation-delay: 0s;
      background-image: url(../assets/img-slider1-1.png);
      background-position: center;
    }

    #slide-2 {
      animation-delay: 5s;
      background-image: url(../assets/img-slider1-2.png);
      background-position: center;
    }

    #slide-3 {
      animation-delay: 10s;
      background-image: url(../assets/img-slider1-3.png);
      background-position: center;
    }
  }

  .model1-info {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0%;
    @include flexible(column, wrap, center, center, auto);

    .text-model1 {
      height: 50vh;
      @include flexible(row, wrap, center, flex-end, auto);
    }

    .logo-model1 {
      width: 40%;
      animation: appear 2s linear 1 both 2s;
      transition: all 0.5s ease;
    }

    .btns {
      width: 100%;
      margin-top: 4em;
      @include flexible(column, wrap, center, center, auto);
    }

    .btn-new {
      padding: 2em 0em;
      margin: auto;
      display: inline-flex;
      border: 2px solid $white;
      padding: 1em 3em;
      font-weight: 600;
      color: $white;
      font-size: 1em;
      text-transform: uppercase;
      animation: appear 1s ease 1 both 2.5s;
    }

    .btn-new.hide {
      display: none;
      transition: all 0.4s ease;
    }

    .btn-scroll {
      font-weight: 600;
      color: $white;
      padding: 0.6em 1.5em;
      font-size: 1em;
      padding: 12px;
      transition: all 0.5s ease;
      animation: pulse 2s ease infinite both 3s;
      cursor: default;
    }
  }

  .model-2 {
    @include flexible(row, nowrap, center, center, auto);
    min-height: 100vh;
    position: relative;

    &-info {
      width: 100%;
      min-height: 100vh;
      position: absolute;
      z-index: 4;
      top: 0%;
      padding-top: 350px;
      @include flexible(column, wrap, center, center, auto);
    }

    .span-model {
      text-transform: uppercase;
      color: $white;
      padding: 1.5em 0em;
      position: absolute;
      top: 0;
      z-index: 4;
      opacity: 0;
      transition: all .3s ease;
    }

    .span-model.active {
      opacity: 1;
    }

    h3 {
      font-family: $font-default;
      font-size: 3.5em;
      font-weight: 800;
      color: $white;
      text-align: center;
      text-transform: uppercase;
    }

    .new-way {
      width: 64%;
      @include flexible(row, nowrap, flex-start, center, auto);
      margin-top: 7em;

      img {
        margin: 2em;
      }

      &-h4 {
        font-family: $font-default;
        font-weight: 300;
        font-size: 1.5em;
        color: $white;
        text-transform: uppercase;
      }

      &-p {
        width: 60%;
        font-family: $font-open;
        font-weight: 300;
        color: $white;
        font-size: 1em;
        text-align: left;
      }
    }

    .slider {
      width: 100%;
      overflow: hidden;
    }

    .big-slider {
      width: 300%;
      @include flexible(row, nowrap, flex-start, center, auto);
      transition: all 0.5s ease;
    }

    .slider-img {
      width: calc(100% / 3);
      min-height: 100vh;
    }

    .box-line {
      padding: 5px 4px;
    }

    .slider-lines {
      width: 100%;
      height: 20px;
      padding: 1em;
      position: absolute;
      bottom: 1em;
      z-index: 4;
      @include flexible(row, nowrap, center, center, auto);
    }

    .slider-line {
      width: 50px;
      height: 6px;
      margin: 10px;
      background-color: $white;
      margin: 0 0.4em;
      cursor: pointer;
      bottom: 2em;
      z-index: 5;
    }

    .lines-ul {
      width: 100%;
      height: 20px;
      padding: 1em;
      position: absolute;
      bottom: 2em;
      z-index: 4;
      @include flexible(row, nowrap, center, center, auto);
    }

    .line-opa {
      width: 50px;
      background-color: $blue;
      height: 6px;
      margin:0px 10px 0px 10px;
      opacity: 0;
    }

    .line-opa.active {
      opacity: 1;
    }
  }

  .model-3 {
    width: 100%;
    background-color: $black;

    ul {
      @include flexible(row, nowrap, center, center, auto);
      padding: 3em 0em;

      li {
        p {
          width: 210px;
          font-family: $font-default;
          font-weight: 600;
          color: $white;
          text-transform: uppercase;
          font-size: 1em;
          cursor: default;
        }

        img {
          width: 50%;
          margin: auto 1em;
        }
      }

      li.partners-medium {
        width: 520px;
      }
    }
  }

  .model-4 {
    width: 100%;

    .wrapper {
      width: 100%;
      min-height: 400px;
      background-color: $light-black;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);

      &-one {
        @include flexible(row, nowrap, center, center, auto);
        grid-column: 1/3;
        grid-row: 1/5;
        position: relative;
      }

      &-two {
        grid-column: 3/5;
        grid-row: 1/3;
        position: relative;

        .overlay {
          width: 100%;
          height: 100%;
          background-color: $white50;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.5s ease;
          opacity: 0;
        }

        &:hover .overlay {
          opacity: 1;
        }
      }

      &-three {
        grid-column: 3/4;
        grid-row: 3/5;
        position: relative;

        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          animation: movie-animation 4s infinite linear 1.5s;
        }

        img {
          width: 100%;
          height: 100%;
          padding: 0;
        }
      }

      &-four {
        grid-column: 4/5;
        grid-row: 3/5;
        position: relative;

        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          animation: movie-animation 4s infinite linear 2s;
        }

        img {
          width: 100%;
          height: 100%;
          padding: 0;
        }
      }
    }
    .artist {
      &-sound {
        width: 30%;
      }

      &-p {
        font-family: $font-default;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 2px;
      }

      &-h2 {
        font-family: $font-default;
        color: $white;
        text-transform: uppercase;
        font-size: 2.8em;
        font-weight: 900;
        letter-spacing: 0.1em;
      }

      &-film {
        font-family: $font-default;
        color: $white;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 3em;
      }

      &-plus {
        width: 8%;
        position: absolute;
        bottom: 4em;
        right: 4em;
      }
    }
  }

  .model-5 {

    h4 {
      font-family: $font-default;
      font-weight: 100;
      color: $white;
      text-transform: uppercase;
      font-size: 1.3em;
      text-align: center;
      margin: 2em 0em 0em 0em;
    }

    .social-gallery {
      @include flexible(row, nowrap, center, center, auto);

      article {
        margin: 2em 0em;
        position: relative;
      }
    }

    .social-icon {
      color: $grey;
      font-size: 3em;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 4;
    }
    .social-icon:hover {
      color: $blue;
    }
  }
}
.footer {
  width: 100%;
  background-color: $light-black;

  .centered {
    @include flexible(column, wrap, center, center, auto);
  }

  &-logo {
    width: 20%;
    margin: 6em 0em 2em 0em;
  }

  &-p {
    color: $white;
    font-size: 1em;
    text-transform: uppercase;

    &.web {
      font-size: 0.8em;
    }
  }

  &-span {
    color: $white;
    font-size: 0.8em;
    margin: 2em 0em 4em 0em;
    text-align: center;
    :hover{
      color: $grey;
    }
  }

  &-ul {
    @include flexible(row, nowrap, center, center, auto);
    margin: 3em 0em 5em 0em;
  }

  &-li {
    font-family: $font-open;
    font-weight: 300;
    color: $white;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0 2.5em;
    padding-bottom: 1em;
    :hover {
      color: $grey;
    }
  }
}

@media screen and (max-width: 1440px) {
  .main {

    .model-2 .new-way {
      width: 100%;
    }
  }
}

@media screen and (max-width: 780px) {
  .main {

    .model-2 {

      h3 {
        font-size: 2.5em;
      }

      .add-symbol {
        width: 10%;
      }

    }

    .model-3 {

      ul li p {
        width: 100px;
        font-size: 0.7em;
      }

      ul li img {
        width: 80%;
        margin: auto 1em;
      }
    }

    .model-4 {

      .wrapper-one {
        grid-column: 1/5;
        grid-row: 1/3;
        @include flexible(row, nowrap, space-between, center, auto);

        .playout {
          width: 15%;
        }

        .artist-h2 {
          font-size: 1.3em;
        }

        .artist-film,
        .artist-p {
          font-size: 1em;
        }

        .artist-sound {
          width: 25%;
        }

        .artist-plus {
          width: 4%;
          bottom: 2em;
          right: 2em;
        }
      }

      .wrapper-two {
        grid-column: 1/3;
        grid-row: 3/5;
      }
    }

    .model-5 {

      .social-icon {
        font-size: 2em;
      }
    }
  }

  .footer .footer-ul {
    @include flexible(row, wrap, center, center, auto);
  }
}
@media screen and (max-width: 480px) {
  .main {

    .model-1 {

      .aside-left, .aside-right {
        width: 15%;
     }


      .btn-new {
        padding: 2em 0em;
        padding: 0.6em 2em;
        font-weight: 400;
        font-size: 0.8em;
      }

      .btn-scroll {
        font-weight: 400;
        font-size: 0.8em;
      }
    }

    .model-2 {
      &-info {
        padding-top: 100px;
      }

      h3 {
        font-size: 2em;
      }

      .slider-line {
        width: 35px;
      }

      .line-opa {
        width: 37px;
      }

      .new-way {
        width: 75%;
        @include flexible(row, wrap, center, center, auto);
        margin: 0em;

        .new-way-h4 {
          font-size: 1em;
        }

        .new-way-p {
          width: 100%;
        }
      }
    }

    .model-3 {

      ul {
        @include flexible(row, wrap, center, center, auto);
      }

      li {
        margin: 1em 0em;
      }

      ul li img {
        width: 40%;
        margin: auto;
      }
    }

    .model-4 {

      .wrapper-one .playout {
        width: 40%;
      }

      .wrapper-two {
        grid-column: 1/5;
        grid-row: 3/6;
      }

      .wrapper-three {
        grid-column: 1/3;
        grid-row: 4/5;
      }

      .wrapper-four {
        grid-column: 3/5;
        grid-row: 4/5;
      }

      .artist-sound {
        width: 50%;
      }
    }

    .model-5 {

      .social-gallery {
        @include flexible(row, wrap, center, center, auto);
      }

      .social-icon {
        font-size: 1.5em;
      }
    }
  }

  .footer {

    &-ul {
      @include flexible(row, wrap, space-between, center, auto);
    }

    &-logo {
      width: 60%;
      margin: 6em 0em 2em 0em;
    }
  }
}
