@import "reset", "variables", "keyframes", "mixins";

body {
  font-family: $font-default;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: $black;
  
  .model-1 {
    width: 100%;
    position: relative;
    
    .nav-left {
      width: 12%;
      position: absolute;
      left: 0;
      animation: go-top 1.5s ease 1 both 1s;
      z-index: 3;

      ul {
        min-height: 100vh;
        @include flexible(column, wrap, space-around, center, auto);
      }

      li {
        transform: rotate(-90deg);
        color: $white;
        text-transform: uppercase;
        font-size: 0.6em;
      }
    }

    .nav-right {
      width: 12%;
      position: absolute;
      right: 0;
      animation: go-down 1.5s ease 1 both 1s;
      z-index: 3;

      ul {
        min-height: 100vh;
        @include flexible(column, wrap, space-around, center, auto);
      }

      li {
        transform: rotate(90deg);
        color: $white;
        text-transform: uppercase;
        font-size: 0.6em;
      }
    }

    .slider-container {
      width: 100%;
      min-height: 100vh;
      position: relative;
    }

    .single-slide {
      width: 100%;
      height: 100vh;
      position: absolute;
      opacity: 0;
      animation: slider-animation;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-size: cover;
    }

    #slide-1 {
      background-image: url(https://images7.alphacoders.com/391/391001.jpg);
      background-size: cover;
    }

    #slide-2 {
      animation-delay: 3s;
      background-image: url(https://images5.alphacoders.com/426/426029.jpg);
    }

    #slide-3 {
      animation-delay: 6s;
      background-image: url(https://images7.alphacoders.com/391/391001.jpg);
    }
  }

  .model1-info {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0%;
    @include flexible(column, wrap, center, center, auto);
    .text-model1 {
      height: 50vh;
      @include flexible(row, wrap, center, flex-end, auto);
    }

    .logo-model1 {
      width: 40%;
      animation: appear 2s linear 1 both 1.5s;
      transition: all 0.5s ease;
    }

    .btns {
      width: 100%;
      margin-top: 4em;
      @include flexible(column, wrap, center, center, auto);
    }

    .btn-new {
      padding: 2em 0em;
      margin: auto;
      display: inline-flex;
      border: 2px solid $white;
      padding: 1em 3em;
      font-weight: 600;
      color: $white;
      font-size: 1em;
      text-transform: uppercase;
      animation: appear 1s ease 1 both 2s;
    }

    .btn-new.hide {
      display: none;
      transition: all 0.4s ease;
    }

    .btn-scroll {
      font-weight: 600;
      color: $white;
      padding: 0.6em 1.5em;
      font-size: 1em;
      padding: 12px;
      transition: all 0.5s ease;
      animation: appear 1.2s linear infinite both 2.5s;
    }
  }

  .model-2 {
    @include flexible(row, nowrap, center, center, auto);
    min-height: 100vh;
    position: relative;
    &-info {
      width: 100%;
      min-height: 120vh;
      position: absolute;
      z-index: 4;
      top: 0%;
      @include flexible(column, wrap, center, center, auto);
    }

    .span-model {
      text-transform: uppercase;
      color: $white;
      padding: 1.5em 0em;
      position: absolute;
      top: 0;
      z-index: 4;
    }

    h2 {
      font-family: $font-default;
      font-size: 3.5em;
      font-weight: 800;
      color: $white;
      text-align: center;
      text-transform: uppercase;
    }

    .new-way {
      width: 64%;
      @include flexible(row, nowrap, flex-start, center, auto);
      margin-top: 7em;
      img {
        margin: 2em;
      }

      &-h3 {
        font-family: $font-default;
        font-weight: 300;
        font-size: 1.5em;
        color: $white;
        text-transform: uppercase;
      }

      &-p {
        width: 60%;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        color: $white;
        font-size: 1em;
        text-align: left;
      }
    }

    .slider {
      width: 100%;
      overflow: hidden;
    }

    .big-slider {
      width: 300%;
      @include flexible(row, nowrap, flex-start, center, auto);
      transition: all 0.5s ease;
    }

    .slider-img {
      width: calc(100% / 3);
      min-height: 100vh;
    }

    .slider-lines {
      width: 100%;
      height: 20px;
      padding: 1em;
      position: absolute;
      bottom: 1em;
      z-index: 4;
      @include flexible(row, nowrap, center, center, auto);
    }

    .slider-line {
      width: 50px;
      height: 6px;
      margin: 10px;
      background-color: $white;
      margin: 0 0.4em;
      cursor: pointer;
      bottom: 2em;
      z-index: 4;
    }

    .lines-ul{
      width: 100%;
      height: 20px;
      // background-color: red;
      padding: 1em;
      position: absolute;
      bottom: 2em;
      z-index: 4;
      @include flexible(row, nowrap, center, center, auto);
    }

    .line-opa {
      width: 50px;
      background-color: $blue;
      height: 6px;
      cursor: pointer;
      margin: 0 0.4em;
      opacity: 0;
    }

    .line-opa.active {
      opacity: 1;
    }

  }

  .model-3 {
    width: 100%;
    min-height: 100px;
    background-color: $black;

    ul {
      @include flexible(row, nowrap, center, center, auto);

      li {
        padding: 1em;

        p {
          font-family: $font-default;
          font-weight: 600;
          color: $white;
          text-transform: uppercase;
          font-size: 1.1em;
        }

        img {
          width: 80%;
          margin: auto;
        }
      }

      li.partners-medium {
        width: 600px;
      }
    }
  }

  .model-4 {
    width: 100%;

    .wrapper {
      width: 100%;
      min-height: 400px;
      background-color: $light-black;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);

      &-one {
        @include flexible(row, nowrap, center, center, auto);
        grid-column: 1/3;
        grid-row: 1/5;
        position: relative;
      }

      &-two {
        grid-column: 3/5;
        grid-row: 1/3;
      }

      &-three {
        grid-column: 3/4;
        grid-row: 3/5;
      }

      &-four {
        grid-column: 4/5;
        grid-row: 3/5;
      }
    }
    .artist {
      &-sound {
        width: 30%;
      }

      &-p {
        font-family: $font-default;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        font-size: 1.2em;
        letter-spacing: 2px;
      }

      &-h2 {
        font-family: $font-default;
        color: $white;
        text-transform: uppercase;
        font-size: 2.8em;
        font-weight: 900;
        letter-spacing: 0.1em;
      }

      &-film {
        font-family: $font-default;
        color: $white;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 3em;
      }

      &-plus {
        width: 8%;
        position: absolute;
        bottom: 4em;
        right: 4em;
      }
    }
  }

  .model-5 {

    h4 {
      font-family: $font-default;
      font-weight: 100;
      color: $white;
      text-transform: uppercase;
      font-size: 1.3em;
      text-align: center;
      margin: 2em 0em 0em 0em;
    }

    .social-gallery {
      @include flexible(row, nowrap, center, center, auto);

      article {
        margin: 2em 0em;
        position: relative;
      }
    }

    .social-icon {
      color: #b3c6d4;
      font-size: 2em;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 4;
    }
  }
}
.footer {
  width: 100%;
  background-color: $light-black;

  .centered {
    @include flexible(column, wrap, center, center, auto);
  }

  &-logo {
    width: 20%;
    margin: 6em 0em 2em;
  }

  &-p {
    color: $white;
    font-size: 1em;
    text-transform: uppercase;

    &.web {
      font-size: 0.8em;
    }
  }

  &-span {
    color: $white;
    font-size: 0.8em;
    margin: 2em 0em 4em;
    text-align: center;
  }

  &-ul {
    @include flexible(row, nowrap, center, center, auto);
  }

  &-li {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: $white;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0 2.5em;
    padding-bottom: 1em;
    :hover {
      color: $grey;
    }
  }
}

@media screen and (max-width: 1440px) {
  .main {
    .model-2 .new-way {
      width: 100%;
    }
  }
}

@media screen and (max-width: 780px) {
  .main {
    .model-2 {
      h2 {
        font-size: 2.5em;
      }

      .add-symbol {
        width: 10%;
      }
    }

    .model-4 {
      .wrapper-one {
        grid-column: 1/5;
        grid-row: 1/3;
        @include flexible(row, nowrap, space-between, center, auto);

        .playout {
          width: 15%;
        }

        .artist-h2 {
          font-size: 1.3em;
        }

        .artist-film,
        .artist-p {
          font-size: 1em;
        }

        .artist-plus {
          width: 6%;
          bottom: 2em;
          right: 2em;
        }
      }

      .wrapper-two {
        grid-column: 1/3;
        grid-row: 3/5;
      }
    }
  }

  .footer .footer-ul {
    @include flexible(row, wrap, center, center, auto);
  }
}
@media screen and  (max-width: 480px) {
  .main {
    .model-2 {
      .new-way {
        width: 75%;
        @include flexible(row, wrap, center, center, auto);
        margin: 0em;
  
        .new-way-h3 {
          font-size: 1em;
        }

        .new-way-p {
          width: 100%;
        }
      }
    }

    .model-3 {
      ul {
        @include flexible(row, wrap, center, center, auto);
      }
    }

    .model-4 {
      .wrapper-one .playout {
        width: 40%;
      }

      .wrapper-two {
        grid-column: 1/5;
        grid-row: 3/6;
      }

      .wrapper-three {
        grid-column: 1/3;
        grid-row: 4/5;
      }

      .wrapper-four {
        grid-column: 3/5;
        grid-row: 4/5;
      }
    }

    .model-5 {
      .social-gallery {
        @include flexible(row, wrap, center, center, auto);
      }
    }
  }

  .footer .footer-ul {
    @include flexible(row, wrap, space-between, center, auto);
  }
}
